


/*
 * GLOBALS
 */

body {
 background: white;
 color: rgb(50, 50, 50);
}

.row.padded {
  padding: 1rem 0;
}

#main .row.padded:first-child {
  padding-top: 2rem;
}

.red {
  color: rgb(255, 73, 73);
}

.nomargin {
  margin: 0 0 0 0;
}

.temp {
  color: red;
}



/*
 * HEADER
 */

.top-bar .name h1 a {
  padding-top: 5px;
  line-height: 0.9;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}

.top-bar .name h1 a small {
  display: block;
  margin-top: 5px;
  color: rgb(255,255,255);
}

#header {
  position: relative;
  background: #FFF6BA;
  padding: 1rem 2rem 1rem;
  text-align: center;
}

#header h1 {
  margin: 0;
  font-size: 7rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 10px;
  font-family: "Source Sans Pro";
}

#header h1 a,
#header h1 a:hover {
  color: rgb(50, 50, 50);
}

#header h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  font-family: "Source Sans Pro";
}

#header .row .title .logo img {
  width:200px;
}

.register-now {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-weight: bold;
  font-size: 125%;
  text-transform: uppercase;
  background: #e6ab22;
  border: solid 5px #e6ab22;
}

.register-now:hover {
  background: #f2c913;
}

.social {
  text-align: center;
}

.social a,
.social a:hover {
  display: inline-block;
  min-width: 1.5rem;
  padding: 0 0.2rem;
  text-align: center;
  color: rgb(50, 50, 50);
  transition: opacity 0.5s;
  opacity: 0.5;
}

.social a:hover {
  opacity: 1;
}

@media only screen and (max-width: 40em) {
  #header h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  #header h2 {
    display: none;
  }
  .cmbjs-tweets {
    display: none;
  }
  .social {
    top: 1rem;
    right: 1rem;
  }
}



/*
 * FOOTER
 */

#footer {
  background: #444;
  color: white;
  text-align: center;
  font-family: "Source Sans Pro"
}

#footer a {
  color: white;
  padding-bottom: 3px;
  border-bottom: 1px solid white;
}

#footer a:hover {
  color: white;
  border-bottom: 0;
}



/*
 * MAIN
 */

#main {
  min-height: 500px;
}


/*
 *.index
 */

h5 {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 1.5rem;
  color: #444;
  border-bottom: 1px solid #ddd;
}

.lead a {
  padding-bottom: 3px;
  border-bottom: 2px solid #bbb;
}

.lead a:hover {
  padding-bottom: 3px;
  border-bottom: 0;
}

.cmbjs-flow li span,
.cmbjs-rules span {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.cmbjs-flow li {
  min-height: 30px;
  margin: 5px 0 5px 40px;
}

.cmbjs-flow li span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: rgb(230, 230, 230);
  border-radius: 30px;
  text-align: center;
  padding-top: 2px;
  border: solid 2px;
  margin-right: 5px;
  margin-left: -40px;
}

.no-border li span {
  border: 0px;
  background-color: transparent;
  font-size: 1.5rem;
}
