


/*
 * GLOBALS
 */

body {
 background: white;
 color: rgb(50, 50, 50);
}

.row.padded {
  padding: 1rem 0;
}

#main .row.padded:first-child {
  padding-top: 2rem;
}

.red {
  color: rgb(255, 73, 73);
}

.nomargin {
  margin: 0 0 0 0;
}

.temp {
  color: red;
}

.round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  max-width: none;
}
.gold{
  background-color: #ffd700;
  color: black;
}
.silver{
  background-color: #CCCCCC;
  color: black;
}

/*
 * HEADER
 */

.top-bar .name h1 a {
  padding-top: 5px;
  line-height: 0.9;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}

.top-bar .name h1 a small {
  display: block;
  margin-top: 5px;
  color: rgb(255,255,255);
}

.top-bar-section li.active.register-button:not(.has-form) a:not(.button) {
  background: #DE3D18;
}

.top-bar-section li.active.register-button:not(.has-form) a:not(.button):hover {
  background: #f2c913;
}

#header {
  position: relative;
  background: #FFF6BA;
  padding: 1rem 2rem 1rem;
  text-align: center;
  background: url('header.jpg');
  background-size: cover;
}

#header h1 {
  margin: 0;
  font-size: 7rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 10px;
  font-family: "Source Sans Pro";
}

#header h1 a,
#header h1 a:hover {
  color: rgb(50, 50, 50);
}

#header h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  font-family: "Source Sans Pro";
}

#header .row .title .logo img {
  width:200px;
}

.register-now {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-weight: bold;
  font-size: 125%;
  text-transform: uppercase;
  background: #E11C17;
  border: solid 5px #e6ab22;
}

.register-now:hover {
  background: #f2c913;
}
.register-now .first{
  font-size: 150%;
}
.register-now .second{
  font-style: italic;
}
.social {
  text-align: center;
}

.social a,
.social a:hover {
  display: inline-block;
  min-width: 1.5rem;
  padding: 0 0.2rem;
  text-align: center;
  color: rgb(255, 255, 255);
  transition: opacity 0.5s;
}

@media only screen and (max-width: 40em) {
  .top-bar .name h1 a {
    width: 4rem;
  }
  #header h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}



/*
 * FOOTER
 */

#footer {
  background: #444;
  color: white;
  text-align: center;
  font-family: "Source Sans Pro"
}

#footer a {
  color: white;
  padding-bottom: 3px;
  border-bottom: 1px solid white;
}

#footer a:hover {
  color: white;
  border-bottom: 0;
}


/*
 *
 */

@media only screen and (max-width: 40em) {
  .cmbjs-people>div {
    text-align: center;
  }
}

#register {
  min-height:500px;
  text-align:center;
}
/*
.orbit-container { height: 400px; }

.orbit-container .orbit-slides-container > * {
  position: relative;
  margin-left: 0;
  float: left;
  height: 100%;
}*/